In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Shitalakshya.xlsx")

In [3]:
df

         Season Station     Pb     Cu     Cr     Zn    Cd
0   Pre-monsoon     St1  10.76  13.25  36.71  83.80  0.64
1   Pre-monsoon     St2  11.68  17.51  49.14  87.96  0.69
2   Pre-monsoon     St3  12.50  21.36  49.76  90.01  0.70
3       Monsoon     St1   6.76   7.98  11.12  42.22  0.38
4       Monsoon     St2   7.54   9.44  15.67  46.57  0.43
5       Monsoon     St3   9.26  12.72  18.23  46.85  0.53
6  Post-monsoon     St1  16.74  39.57  51.18  90.85  0.76
7  Post-monsoon     St2  20.81  46.27  55.95  91.58  0.81
8  Post-monsoon     St3  22.41  53.31  57.83  99.55  0.87

In [4]:
season = pd.Series(["0","0","0","1","1","1","2","2","2"])

In [5]:
df["Season_Num"] = season

In [6]:
df

         Season Station     Pb     Cu     Cr     Zn    Cd Season_Num
0   Pre-monsoon     St1  10.76  13.25  36.71  83.80  0.64          0
1   Pre-monsoon     St2  11.68  17.51  49.14  87.96  0.69          0
2   Pre-monsoon     St3  12.50  21.36  49.76  90.01  0.70          0
3       Monsoon     St1   6.76   7.98  11.12  42.22  0.38          1
4       Monsoon     St2   7.54   9.44  15.67  46.57  0.43          1
5       Monsoon     St3   9.26  12.72  18.23  46.85  0.53          1
6  Post-monsoon     St1  16.74  39.57  51.18  90.85  0.76          2
7  Post-monsoon     St2  20.81  46.27  55.95  91.58  0.81          2
8  Post-monsoon     St3  22.41  53.31  57.83  99.55  0.87          2

In [8]:
background_values = pd.DataFrame({
    "Elements": ["Cr", "Mn", "Ni", "Cu", "Zn", "Cd", "Pb", "As", "Fe"],
    "Bm" : [71,750,49, 32, 127, 0.2, 16, 12, 35900]
})

### Igeo

In [9]:
background_values

  Elements       Bm
0       Cr     71.0
1       Mn    750.0
2       Ni     49.0
3       Cu     32.0
4       Zn    127.0
5       Cd      0.2
6       Pb     16.0
7       As     12.0
8       Fe  35900.0

In [10]:
import math

In [16]:
igeo_Pb = []
igeo_Cu = []
igeo_Cr = []
igeo_Zn = []
igeo_Cd = []

i = 0
while i < len(df["Pb"]):
    ig_pb = math.log2(df["Pb"][i]/ (1.5 * background_values["Bm"][6]))
    igeo_Pb.append(ig_pb)
    
    ig_Cu = math.log2(df["Cu"][i]/ (1.5 * background_values["Bm"][3]))
    igeo_Cu.append(ig_Cu)
    
    ig_Cr = math.log2(df["Cr"][i]/ (1.5 * background_values["Bm"][0]))
    igeo_Cr.append(ig_Cr)
    
    ig_Zn = math.log2(df["Zn"][i]/ (1.5 * background_values["Bm"][4]))
    igeo_Zn.append(ig_Zn)
    
    ig_Cd = math.log2(df["Cd"][i]/ (1.5 * background_values["Bm"][5]))
    igeo_Cd.append(ig_Cd)    
    
    i += 1

In [17]:
igeo_Pb, igeo_Cu, igeo_Cr, igeo_Zn, igeo_Cd

([-1.157356327939257,
  -1.0389941316158637,
  -0.9411063109464314,
  -1.8279392542136965,
  -1.6703979772272166,
  -1.3739503072356445,
  -0.5197348779455373,
  -0.20575744076054622,
  -0.09889175698548762],
 [-1.8570420461579569,
  -1.454855322062323,
  -1.168122758808327,
  -2.588573754273535,
  -2.3461756411340398,
  -1.9159357352115254,
  -0.27862734052318006,
  -0.05295730693058505,
  0.15137177625395343],
 [-1.5366084109010156,
  -1.115883667638398,
  -1.0977950398699605,
  -3.2596247372770555,
  -2.7647763455279826,
  -2.5464669639614286,
  -1.0572013779611165,
  -0.9286433941368064,
  -0.8809634232170744],
 [-1.1847688486813328,
  -1.1148714884130788,
  -1.081633800619525,
  -2.173792513920891,
  -2.032318210447719,
  -2.0236700447214977,
  -1.0682325781465687,
  -1.0566865275944997,
  -0.936297776660182],
 [1.093109404391481,
  1.2016338611696502,
  1.2223924213364477,
  0.3410369178350666,
  0.5193741590935792,
  0.8210298589546804,
  1.3410369178350667,
  1.432959407276106,
  1.5360529002402095])

In [25]:
bg_Pb = df["Pb"][0]/ (1.5* 2**(-1.4795))
bg_Pb

20.002988757492982

In [26]:
bg_Cu = df["Cu"][0]/ (1.5* 2**(-2.3496))
bg_Cu

45.02199102152199

In [27]:
bg_Cr = df["Cr"][0]/ (1.5* 2**(-1.8788))
bg_Cr

90.0053409300394

In [28]:
bg_Zn = df["Zn"][0]/ (1.5* 2**(-0.7661))
bg_Zn

95.01055155253077

In [29]:
bg_Cd = df["Cd"][0]/ (1.5* 2**(0.5081))
bg_Cd

0.30000975350260106

In [21]:
bg_cf_pb1 = df["Pb"][0]/ 0.54
bg_cf_pb1

19.925925925925924

In [22]:
bg_cf_pb2 = df["Pb"][1]/ 0.58
bg_cf_pb2

20.137931034482758

#### Background value were same in Ig and CF

## CF CD PLI

In [24]:
cf_Pb = []

i= 0
while i < len(df["Pb"]):
    val = df["Pb"][i]/ 20
    cf_Pb.append(val)
    i+=1 
    
    
cf_Pb

[0.538,
 0.584,
 0.625,
 0.33799999999999997,
 0.377,
 0.46299999999999997,
 0.837,
 1.0405,
 1.1205]

In [33]:
cf_Cu = []

i= 0
while i < len(df["Pb"]):
    val = df["Cu"][i]/ 45
    cf_Cu.append(val)
    i+=1 
    
    
cf_Cu

[0.29444444444444445,
 0.38911111111111113,
 0.4746666666666667,
 0.17733333333333334,
 0.20977777777777776,
 0.2826666666666667,
 0.8793333333333333,
 1.0282222222222224,
 1.1846666666666668]

In [32]:
cf_Cr = []

i= 0
while i < len(df["Pb"]):
    val = df["Cr"][i]/ 90
    cf_Cr.append(val)
    i+=1 
    
    
cf_Cr

[0.4078888888888889,
 0.546,
 0.5528888888888889,
 0.12355555555555554,
 0.1741111111111111,
 0.20255555555555557,
 0.5686666666666667,
 0.6216666666666667,
 0.6425555555555555]

In [31]:
cf_Zn = []

i= 0
while i < len(df["Pb"]):
    val = df["Zn"][i]/ 95
    cf_Zn.append(val)
    i+=1 
    
    
cf_Zn

[0.8821052631578947,
 0.9258947368421052,
 0.9474736842105264,
 0.44442105263157894,
 0.4902105263157895,
 0.49315789473684213,
 0.9563157894736841,
 0.964,
 1.0478947368421052]

In [30]:
cf_Cd = []

i= 0
while i < len(df["Pb"]):
    val = df["Cd"][i]/ 0.3
    cf_Cd.append(val)
    i+=1 
    
    
cf_Cd

[2.1333333333333333,
 2.3,
 2.3333333333333335,
 1.2666666666666668,
 1.4333333333333333,
 1.7666666666666668,
 2.5333333333333337,
 2.7,
 2.9]

In [36]:
CD = (cf_Pb[0]+cf_Cu[0]+cf_Cr[0]+cf_Zn[0]+cf_Cd[0])
CD

4.2557719298245615

In [42]:
PLI = (cf_Pb[0]*cf_Cu[0]*cf_Cr[0]*cf_Zn[0]*cf_Cd[0])**(1/5)
PLI

0.6561170590529237

### EF

In [60]:
ef = (df["Pb"][0]/2.15)/(20/4.72)
ef

1.1810976744186048

In [61]:
ef = (df["Pb"][1]/2.15)/(20/4.72)
ef

1.2820837209302325

In [62]:
ef = (df["Cu"][0]/2.15)/(45/4.72)
ef

0.6464082687338502

In [48]:
background_values

  Elements       Bm
0       Cr     71.0
1       Mn    750.0
2       Ni     49.0
3       Cu     32.0
4       Zn    127.0
5       Cd      0.2
6       Pb     16.0
7       As     12.0
8       Fe  35900.0

In [64]:
fe_sample = []
ef_temp = [1.17, 1.08, 1, 1.39, 1.21, 1.43, 1.43, 1.63, 1.69]

i= 0
while i < len(df["Pb"]):
    val = df["Pb"][i]/ (ef_temp[i] * (20/4.72))
    fe_sample.append(val)
    i+=1 
    
    
fe_sample

[2.1703931623931627,
 2.552296296296296,
 2.9499999999999997,
 1.1477410071942447,
 1.4706115702479339,
 1.528223776223776,
 2.762685314685314,
 3.0129815950920245,
 3.1294437869822485]

In [54]:
fe = df["Pb"][1]/(1.08 * (20/4.72))
fe

2.552296296296296

In [65]:
ef_Pb = []
fe_bg = 4.72
pb_bg = 20

i= 0
while i < len(df["Pb"]):
    val = (df["Pb"][i]/fe_sample[i])/(pb_bg/fe_bg)
    ef_Pb.append(val)
    i+=1 
    
ef_Pb

[1.1699999999999997,
 1.08,
 1.0,
 1.39,
 1.21,
 1.43,
 1.4300000000000002,
 1.63,
 1.69]

## E and RI

In [66]:
acc_factor = df["Pb"][0]/20
acc_factor

0.538

In [68]:
e_r = 5 * acc_factor
e_r

2.6900000000000004

In [71]:
er_Pb = []
pre_ind_Pb = 20
trv_Pb = 5

i= 0
while i < len(df["Pb"]):
    acc_factor = df["Pb"][i] / pre_ind_Pb
    er = trv_Pb * acc_factor
    er_Pb.append(er)
    i+=1 
    
er_Pb

[2.6900000000000004, 2.92, 3.125, 1.69, 1.885, 2.315, 4.185, 5.2025, 5.6025]

In [75]:
er_Cu = []
pre_ind_Cu = 32
trv_Cu = 5

i= 0
while i < len(df["Pb"]):
    acc_factor = df["Cu"][i] / pre_ind_Cu
    er = trv_Cu * acc_factor
    er_Cu.append(er)
    i+=1 
    
er_Cu

[2.0703125,
 2.7359375000000004,
 3.3375,
 1.2468750000000002,
 1.4749999999999999,
 1.9875,
 6.1828125,
 7.229687500000001,
 8.3296875]

In [76]:
er_Cr = []
pre_ind_Cr = 97
trv_Cr = 2

i= 0
while i < len(df["Pb"]):
    acc_factor = df["Cr"][i] / pre_ind_Cr
    er = trv_Cr * acc_factor
    er_Cr.append(er)
    i+=1 
    
er_Cr

[0.7569072164948454,
 1.0131958762886597,
 1.025979381443299,
 0.2292783505154639,
 0.32309278350515463,
 0.37587628865979383,
 1.0552577319587628,
 1.1536082474226805,
 1.1923711340206185]

In [77]:
er_Zn = []
pre_ind_Zn = 129
trv_Zn = 1

i= 0
while i < len(df["Pb"]):
    acc_factor = df["Zn"][i] / pre_ind_Zn
    er = trv_Zn * acc_factor
    er_Zn.append(er)
    i+=1 
    
er_Zn

[0.6496124031007752,
 0.6818604651162791,
 0.6977519379844962,
 0.32728682170542633,
 0.3610077519379845,
 0.3631782945736434,
 0.7042635658914729,
 0.7099224806201551,
 0.7717054263565891]

In [78]:
er_Cd = []
pre_ind_Cd = 0.2
trv_Cd = 30

i= 0
while i < len(df["Pb"]):
    acc_factor = df["Cd"][i] / pre_ind_Cd
    er = trv_Cd * acc_factor
    er_Cd.append(er)
    i+=1 
    
er_Cd

[95.99999999999999,
 103.49999999999999,
 104.99999999999999,
 57.0,
 64.5,
 79.5,
 114.0,
 121.5,
 130.5]

In [79]:
RI = er_Pb[0] + er_Cu[0] + er_Cr[0] + er_Zn[0] + er_Cd[0]     
RI

102.16683211959561